@use '../common' as *;

.btn-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #E6E6EB;
  padding-top: 24px;

  .previous {
    position: absolute;
    top: 35px;
    align-self: center;
    @include text(14px, 20px, 400, Inter);
    width: 25%;
  }

  .next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 46px;

    background: #F67599;
    border-radius: 8px;
    color: $white;
  }

  .next::after,
  .previous::before,
  .next>div {
    display: inline-block;
    width: 20.5px;
    height: 9px;
    background-size: cover;
  }

  .previous::before {
    content: '';
    background-image: url('/src/images/arrow-left-arrow.png');
    margin-right: 12.5px;
  }

  // 初始的next樣式，之後按下nextBtn會修改nextBtn的text-node，所以這邊都會被覆蓋掉
  // 不用偽元素原因：一但用了，每個頁面的next都會吃到這樣式，我只需要一開始有樣子，後面都靠dom.innerHTML修改就好．
  .next>div {
    background-image: url(/src/images/arrow-right-arrow.png);
    margin-left: 13.5px;
  }

}


@media screen and (min-width: 376px) {
  .btn-group {
    .next {
      width: 174px;
    }
  }
}